.tasks
  list-style: none
  margin: 0
  padding: 0

  > li
    +clearfix()
    padding: 1rem 1.5rem
    background: #fff
    border: 1px solid #eee
    border-width: 1px 0

    .checkbox
      display: block
      width: 30px
      height: 30px
      background: #fff
      border: 1px solid #ccc
      border-radius: 4px
      margin-right: 1.5rem
      float: left

      text-align: center

      .check
        +icon()
        color: #666
        display: none
        line-height: 25px
        &:before
          content: "\e013"

      &.checkbox-other
        background: #f7f7f7
        border: none

    > h4.title
      line-height: 30px

    &.task-complete
      .checkbox .check
        display: inline-block

      > h4.title
        text-decoration: line-through
        color: #ccc

.task-date-selector
  background: #ddd
  +clearfix()
  .date-navigation
    display: block
    float: left
    height: 50px
    width: 50px
    text-align: center
    vertical-align: middle
    padding: 10px

    > span
      font-size: 20px
      line-height: 30px

    &.date-navigation-right
      float: right

  .task-date-display
    text-align: center
    padding: 10px 0
    line-height: 30px
